<!DOCTYPE html>
<html>
<head>
  <title>Admin - Team</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>

<header>
  <h1>Admin - Team Profiles</h1>
  <nav>
    <a href="index.html">Home</a>
    <a href="menu.html">Menu</a>
    <a href="admin.html">Admin</a>
    <a href="contact.html">Contact</a>
  </nav>
</header>

<div class="container">
  <h2>Our Team</h2>

  <div class="team">

    <div class="member">
      <img src='chef.png'>
      <h3>Chef</h3>
    </div>

    <div class="member">
      <img src="mithun photo.jpg">
      <h3>Owner</h3>
    </div>

    <div class="member">
      <img src="venkatesh.png">
      <h3>Manager</h3>
    </div>

    <div class="member">
      <img src="waiter.png">
      <h3>Waiter</h3>
    </div>

    <div class="member">
      <img src="image.png">
      <h3>Cleaner</h3>
    </div>

  </div>
</div>

<footer>
  © 2025 Delicious Bites Restaurant
</footer>

</body>
</html>
